<% content_for(:title, " #{@post.title}") %>
<h1 >Screencode</h1>

<div class="showPosts">
	
<h2><%= @post.title %></h2>
<p><%= @post.text %></p>


<div class=fakeMenu>
  <div class="fakeButtons fakeClose"></div>
  <div class="fakeButtons fakeMinimize"></div>
  <div class="fakeButtons fakeZoom"></div>
  <div class="screenName"><%= @post.title.downcase %></div>
</div>
<div class="fakeScreen">
<%= @post.code %>
</div>

</div>

<% @comments.each do |c| %>
<p><%= c.comment_text %></p>
<span><%= link_to "Delete", post_comments_path(c.id) , data={method: :delete} %></span> 
<% end %>

<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :comment_text %><br />
    <%= f.text_field :comment_text %>
  </div>
  <%= f.hidden_field :post_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>	